.background_image {
    background-image: url("../img/mainstream-services-s2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.navbar-nav li>a:hover,
.navbar-nav li>a:focus,
.navbar-nav>.active>a {
    color: orange!important;
}

.nav-link {
    color: #231FF5!important;
}

.navbar-img {
    border-radius: 50%;
    width: 40px;
}

h2 {
    margin-top: 50px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #231FF5
}

#homepage-title {
    margin-top: 150px;
    font-family: 'Neucha', cursive;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-left {
    align-items: flex-start;
}

.page_wrapper {
    padding: 20px;
}

.team_members_wrapper {
    margin: auto;
    width: 80%;
}

.team_member_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    margin: 40px;
}

.team_tagline {
    text-align: center;
}

.user_icon {
    height: 70%;
    padding: 0 20px;
}

.media {
    margin: auto;
    width: 60%;
    padding-bottom: 30px;
}

.form-control {
    width: auto;
    resize: none;
    margin: 20px;
}

.btn {
    margin: 20px;
}

.btn-primary {
    background-color: #231FF5;
    border-color: #231FF5;
}

.btn-info {
    background-color: #231FF5;
    border-color: #231FF5;
}

.logo_img {
    width: 150px;
    height: 50px;
}